<center> <font color = #82318E size = 5 face = "微软雅黑" > pandas の 测试 </font> </center>

<center> <font color = #82318E size = 4 face = "微软雅黑" > 1. 一维数据类型 Series </font> </center>

In [1]:
import pandas as pd

In [12]:
'''
数据索引是 pandas 数据结构中的一大特性, 
它主要的功能是帮助我们更快速地定位数据
'''
print()

<center> <font color = #82318E size = 3 face = "微软雅黑" > 字典 -> Series </font> </center>

In [15]:
d = {'a' : 10, 'b' : 20, 'c' : 30}
s = pd.Series(d, index = ['b', 'c', 'd', 'a'])
print(s)

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

<center> <font color = #82318E size = 3 face = "微软雅黑" > ndarray -> Series </font> </center>

In [19]:
import numpy as np

d = np.arange(2, 11, 2)
print(type(d))
print(d)
print()

index = ['a', 'b', 'c', 'd', 'e']

s = pd.Series(d, index)
print(s)
print()

'''
若不指定索引, 则
默认为自然数, 由0始
'''
s = pd.Series(d)
print(s)

<class 'numpy.ndarray'>
[ 2  4  6  8 10]

a     2
b     4
c     6
d     8
e    10
dtype: int64

0     2
1     4
2     6
3     8
4    10
dtype: int64

<center> <font color = #82318E size = 3 face = "微软雅黑" > 基本操作 </font> </center>

In [29]:
d = np.arange(2, 11, 2)

index1 = ['a', 'b', 'c', 'd', 'e']
index2 = ['a', 'c', 'e', 'd', 'b']

s1 = pd.Series(d, index1)
print(s1)
print()

s2 = pd.Series(d, index2)
print(s2)
print()

print('s1 + s2 :')
print(s1 + s2)
print()

print('s1 * s2 :')
print(s1 * s2)
print()

a     2
b     4
c     6
d     8
e    10
dtype: int64

a     2
c     4
e     6
d     8
b    10
dtype: int64

s1 + s2 :
a     4
b    14
c    10
d    16
e    16
dtype: int64

s1 * s2 :
a     4
b    40
c    24
d    64
e    60
dtype: int64

<center> <font color = #82318E size = 4 face = "微软雅黑" > 2. 二维数据类型 DataFrame </font> </center>

<center> <font color = #82318E size = 3 face = "微软雅黑" > Series の 字典 -> DataFrame </font> </center>

In [43]:
'''
字典中是变量名
'''
d = {'Var1' : pd.Series([5, 2, 3], index = ['Case1', 'Case2', 'Case3']), 
     'Var2' : pd.Series([3, 2, 1], index = ['Case1', 'Case2', 'Case3'])}

d = pd.DataFrame(d)
print(type(d))
print(d)

<class 'pandas.core.frame.DataFrame'>
       Var1  Var2
Case1     5     3
Case2     2     2
Case3     3     1

<center> <font color = #82318E size = 3 face = "微软雅黑" > ndarrays Or lists の 字典 -> DataFrame </font> </center>

In [44]:
'''
字典中是 ndarray 或 list, 
索引再另指定
'''
# 未指定索引
d = pd.DataFrame({'Var1' : [5, 2, 3], 'Var2' : [3, 2, 1]}) 
print(d)
print()

# 指定索引
d = pd.DataFrame({'Var1' : [5, 2, 3], 'Var2' : [3, 2, 1]}, 
                 index = ['Case1', 'Case2', 'Case3'])      
print(d)
print()

   Var1  Var2
0     5     3
1     2     2
2     3     1

       Var1  Var2
Case1     5     3
Case2     2     2
Case3     3     1

<center> <font color = #82318E size = 3 face = "微软雅黑" > DataFrame.from_items 读取数据 </font> </center>

In [76]:
d = pd.DataFrame.from_items([('Case1', [1, 2, 3]), ('Case2', [4, 5, 6])], 
                            orient = 'index', columns = ['Var1', 'Var2', 'Var3'])
print(d)

       Var1  Var2  Var3
Case1     1     2     3
Case2     4     5     6

<center> <font color = #82318E size = 3 face = "微软雅黑" > read_csv 读取数据 </font> </center>

In [236]:
d1 = pd.read_csv('./PandasTestcsv_v1.csv', sep = ';')
print(d1)
print()
d1 = pd.read_csv('./PandasTestcsv_v1.csv', sep = ';', index_col = 0)
print(d1)
print('-'*60, end = '\n' * 2)


d2 = pd.read_csv('./PandasTestcsv_v2.csv', sep = ';')
print(d2)
print()
d2 = pd.read_csv('./PandasTestcsv_v2.csv', sep = ';', index_col = 0, 
                 names = ['Var1', 'Var2', 'Var3'])
print(d2)
print('-'*60, end = '\n' * 2)


d3 = pd.read_csv('./PandasTestcsv_v3.csv', sep = ';')
print(d3)
print()
d3 = pd.read_csv('./PandasTestcsv_v3.csv', sep = ';', header = None, index_col = None, 
                 prefix = 'V')
d3 = d3.rename(index = {0 : 'Case1', 1 : 'Case2'}, 
               columns = {'V0' : 'Var1', 'V1' : 'Var2', 'V2' :'Var3'})
print(d3)
print('-'*60, end = '\n' * 2)

  Unnamed: 0  Var1  Var2  Var3
0      Case1     5     3     2
1      Case2     1     2     3

       Var1  Var2  Var3
Case1     5     3     2
Case2     1     2     3
------------------------------------------------------------

   Case1  5  3  2
0  Case2  1  2  3

       Var1  Var2  Var3
Case1     5     3     2
Case2     1     2     3
------------------------------------------------------------

   5  3  2
0  1  2  3

       Var1  Var2  Var3
Case1     5     3     2
Case2     1     2     3
------------------------------------------------------------

In [238]:
'''
炫一波技
'''

d3 = pd.read_csv('./PandasTestcsv_v3.csv', sep = ';')
print(d3)
print()

'''
注意, 
产生 names の list 时, 用了 map 
产生 index の dictionary 时, 用了 for 
'''
d3 = pd.read_csv('./PandasTestcsv_v3.csv', sep = ';', header = None, index_col = None, 
                 names = list(map(lambda x : 'Var{}'.format(x), range(1, 4, 1))))

d3 = d3.rename(index = dict((x, 'Case{}'.format(x + 1)) for x in range(2)))

print(d3)

   5  3  2
0  1  2  3

       Var1  Var2  Var3
Case1     5     3     2
Case2     1     2     3

<center> <font color = #82318E size = 3 face = "微软雅黑" > to_excel 写回数据 </font> </center>

In [240]:
d3.to_excel('./PandasTestcsv_v3.xlsx', sheet_name = 'Sheet1')

<center> <font color = #82318E size = 3 face = "微软雅黑" > 列选择  列增  列删 </font> </center>

In [334]:
d = pd.DataFrame({'Var1' : [5, 1], 'Var2' : [3, 2], 'Var3' : [2, 3]}, 
                 index = ['Case1', 'Case2'])  
print(d)
print()
print(d['Var2'])
print()

d.pop('Var3')
print(d)
print()

# 在'索引1'处插入'Var4', 其值为[2, 6]
d.insert(1, 'Var4', [2, 6])
print(d)

       Var1  Var2  Var3
Case1     5     3     2
Case2     1     2     3

Case1    3
Case2    2
Name: Var2, dtype: int64

       Var1  Var2
Case1     5     3
Case2     1     2

       Var1  Var4  Var2
Case1     5     2     3
Case2     1     6     2

<center> <font color = #82318E size = 3 face = "微软雅黑" > 观察 </font> </center>

In [294]:
import numpy as np
def mychoice(size, TOF):
    return np.random.choice(range(1,10,1), size = size, replace = TOF)

In [298]:
d = pd.DataFrame({'Var0' : mychoice(9, False), 'Var1' : mychoice(9, True)},
                index = list(map(lambda x : 'Case{}'.format(x), range(9))))
print(d)

       Var0  Var1
Case0     7     6
Case1     5     5
Case2     6     7
Case3     4     1
Case4     9     8
Case5     1     9
Case6     3     9
Case7     2     1
Case8     8     3

In [299]:
'''
head() 函数, 默认显示前5条
tail() 函数, 默认显示后5条
'''
print(d.head(3))
print(d.tail(3))

       Var0  Var1
Case0     7     6
Case1     5     5
Case2     6     7
       Var0  Var1
Case6     3     9
Case7     2     1
Case8     8     3

<center> <font color = #82318E size = 3 face = "微软雅黑" > 描述 </font> </center>

In [300]:
print(d.describe())

           Var0      Var1
count  9.000000  9.000000
mean   5.000000  5.444444
std    2.738613  3.166667
min    1.000000  1.000000
25%    3.000000  3.000000
50%    5.000000  6.000000
75%    7.000000  8.000000
max    9.000000  9.000000

In [325]:
'''
.idxmin() ,输出最小值所在位置
.idxmax() ,输出最大值所在位置
'''
print(d)
print()
print(d.idxmin())
print()

Row = d.idxmin()
for j in range(d.shape[1]):
    print('{}, {} : {}'
          .format('Var{}'.format(j), Row[j], d['Var{}'.format(j)][Row[j]]))

       Var0  Var1
Case0     7     6
Case1     5     5
Case2     6     7
Case3     4     1
Case4     9     8
Case5     1     9
Case6     3     9
Case7     2     1
Case8     8     3

Var0    Case5
Var1    Case3
dtype: object

Var0, Case5 : 1
Var1, Case3 : 1

In [326]:
print(d.count())

Var0    9
Var1    9
dtype: int64

In [333]:
print(d.abs(), end = '\n' * 2)
print(d.max(), end = '\n' * 2)
print(d.min(), end = '\n' * 2)
print(d.sum(), end = '\n' * 2)
print(d.mean(), end = '\n' * 2)
print(d.median(), end = '\n' * 2)

       Var0  Var1
Case0     7     6
Case1     5     5
Case2     6     7
Case3     4     1
Case4     9     8
Case5     1     9
Case6     3     9
Case7     2     1
Case8     8     3

Var0    9
Var1    9
dtype: int64

Var0    1
Var1    1
dtype: int64

Var0    45
Var1    49
dtype: int64

Var0    5.000000
Var1    5.444444
dtype: float64

Var0    5.0
Var1    6.0
dtype: float64

<center> <font color = #82318E size = 3 face = "微软雅黑" > reindex 函数</font> </center>

In [339]:
d = pd.DataFrame({'Var0': [1, 2, 3], 'Var1': [4, 5, 6], 'Var2': [7, 8, 9]},
                 index = ['Case0', 'Case1', 'Case2'])
print(d)
print()

print(d.reindex(columns = ['Var0', 'Var2'],
                index = ['Case1', 'Case2']))

       Var0  Var1  Var2
Case0     1     4     7
Case1     2     5     8
Case2     3     6     9
       Var0  Var2
Case1     2     8
Case2     3     9

<center> <font color = #82318E size = 3 face = "微软雅黑" > 排序 </font> </center>

In [353]:
d = pd.DataFrame({'Var0': [1, 2, 3], 'Var2': [7, 8, 9], 'Var1': [4, 5, 6]},
                 index = ['Case0', 'Case2', 'Case1'])
print(d)
print()

print(d.sort_index())
print()

# 按照 index 倒序排列
print(d.sort_index(ascending = False))
print()

# 按照 'Var1' の数值, 不('False')顺序排列
print(d.sort_values(by = 'Var1', ascending = False))
print()

d['Var0']['Case0'] = 2
d['Var1']['Case1'] = 5
print(d.reindex(columns = ['Var0', 'Var1'], index = ['Case0', 'Case1', 'Case2'])
      .sort_values(by = ['Var0','Var1'], ascending = [False, True]))

       Var0  Var1  Var2
Case0     1     4     7
Case2     2     5     8
Case1     3     6     9

       Var0  Var1  Var2
Case0     1     4     7
Case1     3     6     9
Case2     2     5     8

       Var0  Var1  Var2
Case2     2     5     8
Case1     3     6     9
Case0     1     4     7

       Var0  Var1  Var2
Case1     3     6     9
Case2     2     5     8
Case0     1     4     7

       Var0  Var1
Case1     3     5
Case0     2     4
Case2     2     5

<center> <font color = #82318E size = 3 face = "微软雅黑" > 取数 </font> </center>

In [58]:
d = pd.DataFrame(np.random.choice(np.arange(10), size = 12, replace = True).reshape(4, 3),
                 index = list('Case{}'.format(x) for x in np.arange(4)),
                 columns = list('Var{}'.format(y) for y in np.arange(3)))
print(d)

       Var0  Var1  Var2
Case0     2     3     2
Case1     4     0     3
Case2     9     6     5
Case3     3     2     1

In [60]:
'''
注意观察
这两种取数方式
'''
print(d.loc[['Case1', 'Case3'], 'Var0':'Var3':2])
print()

print(d.iloc[1:4:2, [0,2]])

       Var0  Var2
Case1     4     3
Case3     3     1

       Var0  Var2
Case1     4     3
Case3     3     1

<center> <font color = #82318E size = 3 face = "微软雅黑" > 抽样 </font> </center>

In [410]:
# 在 '维度0' 上随机取 2 
print(d.sample(n = 2, axis = 0))
print()

# 在 '维度1' 上随机取约 60%
print(d.sample(frac = 0.6, axis = 1))
print()

       Var0  Var1  Var2
Case1     5     7     8
Case3     2     8     0

       Var2  Var1
Case0     1     8
Case1     8     7
Case2     4     6
Case3     0     8

Case0     True
Case1    False
Case2    False
Case3    False
dtype: bool
       Var0  Var1  Var2
Case0     8     8     1

       Var0  Var1  Var2
Case0   8.0   8.0   1.0
Case1   NaN   NaN   NaN
Case2   NaN   NaN   NaN
Case3   NaN   NaN   NaN

       Var0  Var1  Var2
Case0     8     8    -1
Case1     5     7     8
Case2     0     6     4
Case3    -2     8     0

       Var0  Var1  Var2
Case0    16    16    -1
Case1    10    14    16
Case2     0    12     8
Case3    -4    16     0

<center> <font color = #82318E size = 3 face = "微软雅黑" > 筛选 </font> </center>

In [418]:
'''
筛选
要用 & |, 用 and or 并不行
'''
print((d['Var0'] > 3) & (d['Var2'] < 3))
print(d[(d['Var0'] > 3) & (d['Var2'] < 3)])
print()

print(d.where((d['Var0'] > 3) & (d['Var2'] < 3)))
print()

'''
query() 函数
就是节省了些笔墨

下一行这种, d.Var0 就相当于 d['Var0']
'''
print(d[(d.Var0 > 3) & (d.Var2 < 3)])
print()

print(d.query('(Var0 > 3) & (Var2 < 3)'))
print()

Case0     True
Case1    False
Case2    False
Case3    False
dtype: bool
       Var0  Var1  Var2
Case0     8     8     1

       Var0  Var1  Var2
Case0   8.0   8.0   1.0
Case1   NaN   NaN   NaN
Case2   NaN   NaN   NaN
Case3   NaN   NaN   NaN

       Var0  Var1  Var2
Case0     8     8     1

       Var0  Var1  Var2
Case0     8     8     1

In [417]:
'''
若元素'>3', 则不变, 
否则取'-d'
'''
print(d.where(d > 3, - d))
print()

'''
那你可能要问了,
若不想取'd', 那该如何操作呢:
若元素'>3', 则取 '2 * d', 
否则取'- d * d'
'''
print(pd.DataFrame.where(2 * d, d > 3, - d * d))
print()

       Var0  Var1  Var2
Case0     8     8    -1
Case1     5     7     8
Case2     0     6     4
Case3    -2     8     0

       Var0  Var1  Var2
Case0    16    16    -1
Case1    10    14    16
Case2     0    12     8
Case3    -4    16     0

<center> <font color = #82318E size = 3 face = "微软雅黑" > 缺失值 </font> </center>

In [5]:
d = pd.DataFrame(np.random.choice(np.arange(10), size = 12, replace = True).reshape(4, 3),
                 index = list('Case{}'.format(x) for x in np.arange(4)),
                 columns = list('Var{}'.format(y) for y in np.arange(3)))
d = d.reindex(index = list('Case{}'.format(x) for x in np.arange(5)))

d.insert(value = pd.Timestamp('2018-04-02'), loc = 0, column = 'Time')

d.loc[['Case0', 'Case3'], ['Time', 'Time']] = np.nan

d.loc['Case1', 0:5:2] = np.nan

d.iloc[0, 3] = np.nan
'''
d.loc[] 可以用来取数,
有点像 numpy 里面の切片操作

d.iloc[] 取数时, 
使用的是位置索引,
而非名称索引
'''
print(d)
print()

# .ianull(): 若是 NaN(Not a Number), 则返回 True
print(d.isnull())
print()

# .notnull(): 若不是 NaN, 则返回 True
print(d.notnull())
print()

            Time  Var0  Var1  Var2
Case0        NaT   2.0   9.0   NaN
Case1        NaT   2.0   NaN   4.0
Case2 2018-04-02   0.0   0.0   9.0
Case3        NaT   5.0   4.0   1.0
Case4 2018-04-02   NaN   NaN   NaN

        Time   Var0   Var1   Var2
Case0   True  False  False   True
Case1   True  False   True  False
Case2  False  False  False  False
Case3   True  False  False  False
Case4  False   True   True   True

        Time   Var0   Var1   Var2
Case0  False   True   True  False
Case1  False   True  False   True
Case2   True   True   True   True
Case3  False   True   True   True
Case4   True  False  False  False

<center> <font color = #82318E size = 3 face = "微软雅黑" > 缺失值の清除 </font> </center>

In [24]:
print(d, end = '\n' * 2)

# 清除
print(d.dropna(), end = '\n' * 2)

print(d.loc['Case0' : 'Case3', ::].dropna(axis = 1), end = '\n')

            Time  Var0  Var1  Var2
Case0        NaT   3.0   6.0   NaN
Case1        NaT   3.0   NaN   4.0
Case2 2018-04-02   8.0   9.0   7.0
Case3        NaT   5.0   1.0   8.0
Case4 2018-04-02   NaN   NaN   NaN

            Time  Var0  Var1  Var2
Case2 2018-04-02   8.0   9.0   7.0

       Var0
Case0   3.0
Case1   3.0
Case2   8.0
Case3   5.0

<center> <font color = #82318E size = 3 face = "微软雅黑" > 缺失值の填充 </font> </center>

In [22]:
print(d, end =  '\n' + '-' * 34 + '\n' * 2)

# 用'数字0'填充
print(d.fillna(0), end = '\n' * 2)

# 用前面の数值, 填充nan
print(d.fillna(method = 'pad'), end = '\n' * 2)

# 用后面の数值, 填充nan
print(d.fillna(method = 'bfill'), end = '\n' * 2)

# 用后面の数值, 最多填充'1'位, 填充nan
print(d.fillna(method = 'bfill', limit = 1), end = '\n')

            Time  Var0  Var1  Var2
Case0        NaT   3.0   6.0   NaN
Case1        NaT   3.0   NaN   4.0
Case2 2018-04-02   8.0   9.0   7.0
Case3        NaT   5.0   1.0   8.0
Case4 2018-04-02   NaN   NaN   NaN
----------------------------------

            Time  Var0  Var1  Var2
Case0 1970-01-01   3.0   6.0   0.0
Case1 1970-01-01   3.0   0.0   4.0
Case2 2018-04-02   8.0   9.0   7.0
Case3 1970-01-01   5.0   1.0   8.0
Case4 2018-04-02   0.0   0.0   0.0

            Time  Var0  Var1  Var2
Case0        NaT   3.0   6.0   NaN
Case1        NaT   3.0   6.0   4.0
Case2 2018-04-02   8.0   9.0   7.0
Case3 2018-04-02   5.0   1.0   8.0
Case4 2018-04-02   5.0   1.0   8.0

            Time  Var0  Var1  Var2
Case0 2018-04-02   3.0   6.0   4.0
Case1 2018-04-02   3.0   9.0   4.0
Case2 2018-04-02   8.0   9.0   7.0
Case3 2018-04-02   5.0   1.0   8.0
Case4 2018-04-02   NaN   NaN   NaN

            Time  Var0  Var1  Var2
Case0        NaT   3.0   6.0   4.0
Case1 2018-04-02   3.0   9.0   4.0
Case2 2018-04-02   8.0   9.0   7.0
Case3 2018-04-02   5.0   1.0   8.0
Case4 2018-04-02   NaN   NaN   NaN

            Time  Var0      Var1      Var2
Case0        NaT  3.00  6.000000  6.333333
Case1        NaT  3.00  5.333333  4.000000
Case2 2018-04-02  8.00  9.000000  7.000000
Case3        NaT  5.00  1.000000  8.000000
Case4 2018-04-02  4.75  5.333333  6.333333

            Time  Var0      Var1      Var2
Case0        NaT   3.0  6.000000  6.333333
Case1        NaT   3.0  5.333333  4.000000
Case2 2018-04-02   8.0  9.000000  7.000000
Case3        NaT   5.0  1.000000  8.000000
Case4 2018-04-02   NaN  5.333333  6.333333

<center> <font color = #82318E size = 3 face = "微软雅黑" > 缺失值の填充  </font> </center>

In [7]:
print(d, end =  '\n' + '-' * 34 + '\n' * 2)

# 用均值, 填充nan
print(d.fillna(d.mean()), end = '\n' * 2)

# 用某列の均值, 填充nan
print(d.fillna(d.loc[::, ['Var1', 'Var2']].mean()), end = '\n' * 2)

            Time  Var0  Var1  Var2
Case0        NaT   2.0   9.0   NaN
Case1        NaT   2.0   NaN   4.0
Case2 2018-04-02   0.0   0.0   9.0
Case3        NaT   5.0   4.0   1.0
Case4 2018-04-02   NaN   NaN   NaN
----------------------------------

            Time  Var0      Var1      Var2
Case0        NaT  2.00  9.000000  4.666667
Case1        NaT  2.00  4.333333  4.000000
Case2 2018-04-02  0.00  0.000000  9.000000
Case3        NaT  5.00  4.000000  1.000000
Case4 2018-04-02  2.25  4.333333  4.666667

            Time  Var0      Var1      Var2
Case0        NaT   2.0  9.000000  4.666667
Case1        NaT   2.0  4.333333  4.000000
Case2 2018-04-02   0.0  0.000000  9.000000
Case3        NaT   5.0  4.000000  1.000000
Case4 2018-04-02   NaN  4.333333  4.666667

In [31]:
d = pd.DataFrame(np.fromfunction(lambda a, b : (a + 1) ** (b + 1), (6, 3)),
                 index = list(x for x in np.arange(6)),
                 columns = list('Var{}'.format(y) for y in np.arange(3)))
d.iloc[2:5:1, 0:2:1] = np.nan
print(d, end = '\n' * 2)

'''
使用插值
填充缺失值
是个不错の选择,
'linear'(线性插值)策略
'''
d.iloc[::, 0] = d.iloc[::, 0].interpolate(method = 'linear')
print(d, end = '\n' * 2)

'''
使用'quadratic'(二次插值)策略, 
沿着'维度0'方向,
最多向下'2'位
'''
d.iloc[::, 1] = d.iloc[::, 1].interpolate(method = 'quadratic', limit = 2, axis = 0)
print(d)

   Var0  Var1   Var2
0   1.0   1.0    1.0
1   2.0   4.0    8.0
2   NaN   NaN   27.0
3   NaN   NaN   64.0
4   NaN   NaN  125.0
5   6.0  36.0  216.0

   Var0  Var1   Var2
0   1.0   1.0    1.0
1   2.0   4.0    8.0
2   3.0   NaN   27.0
3   4.0   NaN   64.0
4   5.0   NaN  125.0
5   6.0  36.0  216.0

   Var0  Var1   Var2
0   1.0   1.0    1.0
1   2.0   4.0    8.0
2   3.0   9.0   27.0
3   4.0  16.0   64.0
4   5.0   NaN  125.0
5   6.0  36.0  216.0

<center> <font color = #82318E size = 4 face = "微软雅黑" > 3. 时间序列 </font> </center>

<center> <font color = #82318E size = 3 face = "微软雅黑" > 时间戳 </font> </center>

In [36]:
'''
录入 时间戳
'''
t1 = pd.Timestamp('2018-04-06 15:21:00')
print(type(t1))
print(t1)

t2 = pd.Timestamp('06/04/2018 15:21:00')
print(type(t2))
print(t2)

<class 'pandas._libs.tslib.Timestamp'>
2018-04-06 15:21:00
<class 'pandas._libs.tslib.Timestamp'>
2018-06-04 15:21:00

<center> <font color = #82318E size = 3 face = "微软雅黑" > 时间索引 </font> </center>

In [51]:
'''
开始时间为'2018-04-02', 
按时间间隔'D'(Day, 天), 
产生'7'个数据
'''
T3 = pd.date_range(start = '2018-04-02', periods = 7, freq = 'D')
print(T3)

'''
By the way,
freq 选项可以为:

s ---- 秒
min -- 分钟
H ---- 小时
D ---- 天
w ---- 星期
m ---- 月
'''
T4 = pd.date_range(start = '2018-04-02', periods = 7, freq = '1H25min40s')
print(T4)

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-07', '2018-04-08'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-04-02 00:00:00', '2018-04-02 01:25:40',
               '2018-04-02 02:51:20', '2018-04-02 04:17:00',
               '2018-04-02 05:42:40', '2018-04-02 07:08:20',
               '2018-04-02 08:34:00'],
              dtype='datetime64[ns]', freq='5140S')

<center> <font color = #82318E size = 3 face = "微软雅黑" > 转化为 时间戳 </font> </center>

In [127]:
'''
第一个位置输入の数据
还可以是:
list Series DataFrame

errors 其选项中:
'raise'  报错, 并返回 'Unknown string format'
'coerce' 返回 NaT
'ignore' 忽略

dayfirst, True 表示输入の数据是日期优先
yearfirst, True 表示输入の数据是年份优先, 如'18/1/2'

box, True 表示返回时间索引类型(DatatimeIndex), 
     False 表示返回多维数组(ndarray)
'''
t5 = pd.to_datetime('29/2/18', errors = 'coerce')
print(t5)
print()

t6 = pd.to_datetime('2/1/18 00:12:35', dayfirst = True, yearfirst = False, box = True)
print(type(t6))
print(t6)

NaT

<class 'pandas._libs.tslib.Timestamp'>
2018-01-02 00:12:35

<center> <font color = #82318E size = 3 face = "微软雅黑" > 时间序列 检索 </font> </center>

In [3]:
T7 = pd.DataFrame(np.random.choice(np.arange(1,10,1), (15, 5), replace = True),
                  columns = list('Var{}'.format(x) for x in np.arange(5)),
                  index = pd.date_range(start = '2018-04-02', periods = 15, freq = 'H'))
print(T7)

                     Var0  Var1  Var2  Var3  Var4
2018-04-02 00:00:00     9     7     3     8     7
2018-04-02 01:00:00     3     2     8     1     9
2018-04-02 02:00:00     4     6     2     7     3
2018-04-02 03:00:00     8     2     2     4     5
2018-04-02 04:00:00     8     4     7     7     3
2018-04-02 05:00:00     2     3     4     7     7
2018-04-02 06:00:00     4     7     8     1     7
2018-04-02 07:00:00     8     9     2     6     5
2018-04-02 08:00:00     7     1     1     7     6
2018-04-02 09:00:00     3     4     7     6     6
2018-04-02 10:00:00     8     7     4     4     5
2018-04-02 11:00:00     5     7     7     8     8
2018-04-02 12:00:00     6     5     9     1     1
2018-04-02 13:00:00     6     2     3     9     1
2018-04-02 14:00:00     3     6     1     1     1

In [4]:
print(T7.loc['2018-04-02 02:00:00': '2018-04-02 6:20:00', ::])

                     Var0  Var1  Var2  Var3  Var4
2018-04-02 02:00:00     4     6     2     7     3
2018-04-02 03:00:00     8     2     2     4     5
2018-04-02 04:00:00     8     4     7     7     3
2018-04-02 05:00:00     2     3     4     7     7
2018-04-02 06:00:00     4     7     8     1     7

<center> <font color = #82318E size = 3 face = "微软雅黑" > 改变时间 </font> </center>

In [5]:
T8 = pd.Timestamp('2018-04-06 18:50:00')
T8 = T8 + pd.tseries.offsets.DateOffset(years = 2, months = 10, days = 2, hours = 3)

print('T8 : {}'.format(T8))
print()

'''
注意, 
上面の函数, 传入参数时, 
都有一个 's'

否则, 会出现
下面这种情况
'''
T9 = pd.Timestamp('2018-04-06 18:50:00')
T9 = T9 + pd.tseries.offsets.DateOffset(years = 2, months = 10, days = 2, hour = 3)

print('T9 : {}'.format(T9))

T8 : 2021-02-08 21:50:00

T9 : 2021-02-08 03:50:00

In [6]:
T10 = T7.iloc[0 : 5 : 1, [0, 2, 3]]
print(T10, end = '\n' + '-' * 38 + '\n' * 2)

'''
移动数据
'''
print(T10.shift(2), end = '\n' + '-' * 38 + '\n' * 2)

print(T10.shift(-2), end = '\n' + '-' * 38 + '\n' * 2)


'''
移动时间轴
'''
print(T10.tshift(2), end = '\n' + '-' * 38 + '\n' * 2)

print(T10.tshift(-2), end = '\n' + '-' * 38 + '\n' * 2)

print(T10.tshift(3, freq = '15min'), end = '\n' + '-' * 38 + '\n' * 2)

                     Var0  Var2  Var3
2018-04-02 00:00:00     9     3     8
2018-04-02 01:00:00     3     8     1
2018-04-02 02:00:00     4     2     7
2018-04-02 03:00:00     8     2     4
2018-04-02 04:00:00     8     7     7
--------------------------------------

                     Var0  Var2  Var3
2018-04-02 00:00:00   NaN   NaN   NaN
2018-04-02 01:00:00   NaN   NaN   NaN
2018-04-02 02:00:00   9.0   3.0   8.0
2018-04-02 03:00:00   3.0   8.0   1.0
2018-04-02 04:00:00   4.0   2.0   7.0
--------------------------------------

                     Var0  Var2  Var3
2018-04-02 00:00:00   4.0   2.0   7.0
2018-04-02 01:00:00   8.0   2.0   4.0
2018-04-02 02:00:00   8.0   7.0   7.0
2018-04-02 03:00:00   NaN   NaN   NaN
2018-04-02 04:00:00   NaN   NaN   NaN
--------------------------------------

                     Var0  Var2  Var3
2018-04-02 02:00:00     9     3     8
2018-04-02 03:00:00     3     8     1
2018-04-02 04:00:00     4     2     7
2018-04-02 05:00:00     8     2     4
2018-04-02 06:00:00     8     7     7
--------------------------------------

                     Var0  Var2  Var3
2018-04-01 22:00:00     9     3     8
2018-04-01 23:00:00     3     8     1
2018-04-02 00:00:00     4     2     7
2018-04-02 01:00:00     8     2     4
2018-04-02 02:00:00     8     7     7
--------------------------------------

                     Var0  Var2  Var3
2018-04-02 00:45:00     9     3     8
2018-04-02 01:45:00     3     8     1
2018-04-02 02:45:00     4     2     7
2018-04-02 03:45:00     8     2     4
2018-04-02 04:45:00     8     7     7
--------------------------------------

<center> <font color = #82318E size = 3 face = "微软雅黑" > 重新采样 </font> </center>

In [7]:
'''
在获得 type() 之后,
我可以 help 一下, 
看看都有哪些参数传入
'''
help(pd.core.frame.DataFrame.resample)

Help on function resample in module pandas.core.generic:

resample(self, rule, how=None, axis=0, fill_method=None, closed=None, label=None, convention='start', kind=None, loffset=None, limit=None, base=0, on=None, level=None)
    Convenience method for frequency conversion and resampling of time
    series.  Object must have a datetime-like index (DatetimeIndex,
    PeriodIndex, or TimedeltaIndex), or pass datetime-like values
    to the on or level keyword.

    Parameters
    ----------
    rule : string
        the offset string or object representing target conversion
    axis : int, optional, default 0
    closed : {'right', 'left'}
        Which side of bin interval is closed. The default is 'left'
        for all frequency offsets except for 'M', 'A', 'Q', 'BM',
        'BA', 'BQ', and 'W' which all have a default of 'right'.
    label : {'right', 'left'}
        Which bin edge label to label bucket with. The default is 'left'
        for all frequency offsets except for 'M', 'A', 'Q', 'BM',
        'BA', 'BQ', and 'W' which all have a default of 'right'.
    convention : {'start', 'end', 's', 'e'}
        For PeriodIndex only, controls whether to use the start or end of
        `rule`
    loffset : timedelta
        Adjust the resampled time labels
    base : int, default 0
        For frequencies that evenly subdivide 1 day, the "origin" of the
        aggregated intervals. For example, for '5min' frequency, base could
        range from 0 through 4. Defaults to 0
    on : string, optional
        For a DataFrame, column to use instead of index for resampling.
        Column must be datetime-like.

        .. versionadded:: 0.19.0

    level : string or int, optional
        For a MultiIndex, level (name or number) to use for
        resampling.  Level must be datetime-like.

        .. versionadded:: 0.19.0

    Notes
    -----
    To learn more about the offset strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Examples
    --------

    Start by creating a series with 9 one minute timestamps.

    >>> index = pd.date_range('1/1/2000', periods=9, freq='T')
    >>> series = pd.Series(range(9), index=index)
    >>> series
    2000-01-01 00:00:00    0
    2000-01-01 00:01:00    1
    2000-01-01 00:02:00    2
    2000-01-01 00:03:00    3
    2000-01-01 00:04:00    4
    2000-01-01 00:05:00    5
    2000-01-01 00:06:00    6
    2000-01-01 00:07:00    7
    2000-01-01 00:08:00    8
    Freq: T, dtype: int64

    Downsample the series into 3 minute bins and sum the values
    of the timestamps falling into a bin.

    >>> series.resample('3T').sum()
    2000-01-01 00:00:00     3
    2000-01-01 00:03:00    12
    2000-01-01 00:06:00    21
    Freq: 3T, dtype: int64

    Downsample the series into 3 minute bins as above, but label each
    bin using the right edge instead of the left. Please note that the
    value in the bucket used as the label is not included in the bucket,
    which it labels. For example, in the original series the
    bucket ``2000-01-01 00:03:00`` contains the value 3, but the summed
    value in the resampled bucket with the label ``2000-01-01 00:03:00``
    does not include 3 (if it did, the summed value would be 6, not 3).
    To include this value close the right side of the bin interval as
    illustrated in the example below this one.

    >>> series.resample('3T', label='right').sum()
    2000-01-01 00:03:00     3
    2000-01-01 00:06:00    12
    2000-01-01 00:09:00    21
    Freq: 3T, dtype: int64

    Downsample the series into 3 minute bins as above, but close the right
    side of the bin interval.

    >>> series.resample('3T', label='right', closed='right').sum()
    2000-01-01 00:00:00     0
    2000-01-01 00:03:00     6
    2000-01-01 00:06:00    15
    2000-01-01 00:09:00    15
    Freq: 3T, dtype: int64

    Upsample the series into 30 second bins.

    >>> series.resample('30S').asfreq()[0:5] #select first 5 rows
    2000-01-01 00:00:00   0.0
    2000-01-01 00:00:30   NaN
    2000-01-01 00:01:00   1.0
    2000-01-01 00:01:30   NaN
    2000-01-01 00:02:00   2.0
    Freq: 30S, dtype: float64

    Upsample the series into 30 second bins and fill the ``NaN``
    values using the ``pad`` method.

    >>> series.resample('30S').pad()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    0
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    1
    2000-01-01 00:02:00    2
    Freq: 30S, dtype: int64

    Upsample the series into 30 second bins and fill the
    ``NaN`` values using the ``bfill`` method.

    >>> series.resample('30S').bfill()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    1
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    2
    2000-01-01 00:02:00    2
    Freq: 30S, dtype: int64

    Pass a custom function via ``apply``

    >>> def custom_resampler(array_like):
    ...     return np.sum(array_like)+5

    >>> series.resample('3T').apply(custom_resampler)
    2000-01-01 00:00:00     8
    2000-01-01 00:03:00    17
    2000-01-01 00:06:00    26
    Freq: 3T, dtype: int64

    For a Series with a PeriodIndex, the keyword `convention` can be
    used to control whether to use the start or end of `rule`.

    >>> s = pd.Series([1, 2], index=pd.period_range('2012-01-01',
                                                    freq='A',
                                                    periods=2))
    >>> s
    2012    1
    2013    2
    Freq: A-DEC, dtype: int64

    Resample by month using 'start' `convention`. Values are assigned to
    the first month of the period.

    >>> s.resample('M', convention='start').asfreq().head()
    2012-01    1.0
    2012-02    NaN
    2012-03    NaN
    2012-04    NaN
    2012-05    NaN
    Freq: M, dtype: float64

    Resample by month using 'end' `convention`. Values are assigned to
    the last month of the period.

    >>> s.resample('M', convention='end').asfreq()
    2012-12    1.0
    2013-01    NaN
    2013-02    NaN
    2013-03    NaN
    2013-04    NaN
    2013-05    NaN
    2013-06    NaN
    2013-07    NaN
    2013-08    NaN
    2013-09    NaN
    2013-10    NaN
    2013-11    NaN
    2013-12    2.0
    Freq: M, dtype: float64

    For DataFrame objects, the keyword ``on`` can be used to specify the
    column instead of the index for resampling.

    >>> df = pd.DataFrame(data=9*[range(4)], columns=['a', 'b', 'c', 'd'])
    >>> df['time'] = pd.date_range('1/1/2000', periods=9, freq='T')
    >>> df.resample('3T', on='time').sum()
                         a  b  c  d
    time
    2000-01-01 00:00:00  0  3  6  9
    2000-01-01 00:03:00  0  3  6  9
    2000-01-01 00:06:00  0  3  6  9

    For a DataFrame with MultiIndex, the keyword ``level`` can be used to
    specify on level the resampling needs to take place.

    >>> time = pd.date_range('1/1/2000', periods=5, freq='T')
    >>> df2 = pd.DataFrame(data=10*[range(4)],
                           columns=['a', 'b', 'c', 'd'],
                           index=pd.MultiIndex.from_product([time, [1, 2]])
                           )
    >>> df2.resample('3T', level=0).sum()
                         a  b   c   d
    2000-01-01 00:00:00  0  6  12  18
    2000-01-01 00:03:00  0  4   8  12

In [8]:
print(type(T7))
print(T7, end = '\n' + '-' * 50 + '\n' * 2)

<class 'pandas.core.frame.DataFrame'>
                     Var0  Var1  Var2  Var3  Var4
2018-04-02 00:00:00     9     7     3     8     7
2018-04-02 01:00:00     3     2     8     1     9
2018-04-02 02:00:00     4     6     2     7     3
2018-04-02 03:00:00     8     2     2     4     5
2018-04-02 04:00:00     8     4     7     7     3
2018-04-02 05:00:00     2     3     4     7     7
2018-04-02 06:00:00     4     7     8     1     7
2018-04-02 07:00:00     8     9     2     6     5
2018-04-02 08:00:00     7     1     1     7     6
2018-04-02 09:00:00     3     4     7     6     6
2018-04-02 10:00:00     8     7     4     4     5
2018-04-02 11:00:00     5     7     7     8     8
2018-04-02 12:00:00     6     5     9     1     1
2018-04-02 13:00:00     6     2     3     9     1
2018-04-02 14:00:00     3     6     1     1     1
--------------------------------------------------

In [9]:
'''
label 选项, 
'right'表示使用每次区间右侧的值
(下一区间の左侧端点)做为label:
[00:00, 05:00) label 为 05:00
[05:00, 10:00)
[10:00, 15:00)

close 选项, 
'right'左开右闭
00:00
(00:00, 05:00]
(05:00, 10:00]
(10:00, 15:00]

'''
print(T7.resample(rule = '5H', label = 'right').sum())
print()

print(T7.resample(rule = '5H', label = 'right', closed = 'right').sum())

                     Var0  Var1  Var2  Var3  Var4
2018-04-02 05:00:00    32    21    22    27    27
2018-04-02 10:00:00    24    24    22    27    31
2018-04-02 15:00:00    28    27    24    23    16

                     Var0  Var1  Var2  Var3  Var4
2018-04-02 00:00:00     9     7     3     8     7
2018-04-02 05:00:00    25    17    23    26    27
2018-04-02 10:00:00    30    28    22    24    29
2018-04-02 15:00:00    20    20    20    19    11

In [10]:
'''
.bfill() 用后值填补, 
最多向后寻找限制'1'位
btw, .ffill() 是用前值填补
'''
print(T7.resample(rule = '20min').bfill(limit = 1))

                     Var0  Var1  Var2  Var3  Var4
2018-04-02 00:00:00   9.0   7.0   3.0   8.0   7.0
2018-04-02 00:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 00:40:00   3.0   2.0   8.0   1.0   9.0
2018-04-02 01:00:00   3.0   2.0   8.0   1.0   9.0
2018-04-02 01:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 01:40:00   4.0   6.0   2.0   7.0   3.0
2018-04-02 02:00:00   4.0   6.0   2.0   7.0   3.0
2018-04-02 02:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 02:40:00   8.0   2.0   2.0   4.0   5.0
2018-04-02 03:00:00   8.0   2.0   2.0   4.0   5.0
2018-04-02 03:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 03:40:00   8.0   4.0   7.0   7.0   3.0
2018-04-02 04:00:00   8.0   4.0   7.0   7.0   3.0
2018-04-02 04:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 04:40:00   2.0   3.0   4.0   7.0   7.0
2018-04-02 05:00:00   2.0   3.0   4.0   7.0   7.0
2018-04-02 05:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 05:40:00   4.0   7.0   8.0   1.0   7.0
2018-04-02 06:00:00   4.0   7.0   8.0   1.0   7.0
2018-04-02 06:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 06:40:00   8.0   9.0   2.0   6.0   5.0
2018-04-02 07:00:00   8.0   9.0   2.0   6.0   5.0
2018-04-02 07:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 07:40:00   7.0   1.0   1.0   7.0   6.0
2018-04-02 08:00:00   7.0   1.0   1.0   7.0   6.0
2018-04-02 08:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 08:40:00   3.0   4.0   7.0   6.0   6.0
2018-04-02 09:00:00   3.0   4.0   7.0   6.0   6.0
2018-04-02 09:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 09:40:00   8.0   7.0   4.0   4.0   5.0
2018-04-02 10:00:00   8.0   7.0   4.0   4.0   5.0
2018-04-02 10:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 10:40:00   5.0   7.0   7.0   8.0   8.0
2018-04-02 11:00:00   5.0   7.0   7.0   8.0   8.0
2018-04-02 11:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 11:40:00   6.0   5.0   9.0   1.0   1.0
2018-04-02 12:00:00   6.0   5.0   9.0   1.0   1.0
2018-04-02 12:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 12:40:00   6.0   2.0   3.0   9.0   1.0
2018-04-02 13:00:00   6.0   2.0   3.0   9.0   1.0
2018-04-02 13:20:00   NaN   NaN   NaN   NaN   NaN
2018-04-02 13:40:00   3.0   6.0   1.0   1.0   1.0
2018-04-02 14:00:00   3.0   6.0   1.0   1.0   1.0

In [22]:
'''
可按如下方式,
自己定义函数处理,

需要说明的是,
myresample() 收到の参数
是 pandas.Series 类型の
'''
def myresample(a):
    return np.sum(a)/len(a)

print(T7.resample(rule = '2H', label = 'right').apply(myresample))

                     Var0  Var1  Var2  Var3  Var4
2018-04-02 02:00:00   6.0   4.5   5.5   4.5   8.0
2018-04-02 04:00:00   6.0   4.0   2.0   5.5   4.0
2018-04-02 06:00:00   5.0   3.5   5.5   7.0   5.0
2018-04-02 08:00:00   6.0   8.0   5.0   3.5   6.0
2018-04-02 10:00:00   5.0   2.5   4.0   6.5   6.0
2018-04-02 12:00:00   6.5   7.0   5.5   6.0   6.5
2018-04-02 14:00:00   6.0   3.5   6.0   5.0   1.0
2018-04-02 16:00:00   3.0   6.0   1.0   1.0   1.0

<center> <font color = #82318E size = 4 face = "微软雅黑" > 感觉 pandas 这个模块, 超级有用 </font> </center>
<center> <font color = #82318E size = 4 face = "微软雅黑" > 数据预处理  一流の, 妥妥の!  </font> </center>